extends layout

block content
    form(method='post' action='/editInfo')
        div(class='ProfilePic')
            input(type='text', number = 'userNumber', class='input', placeholder='User number:')
            label(for='userNumber', class = 'label')
        div(class='cosmetic')
            input(type='text', name = 'username',class='input',placeholder="User Name:")
            label(for="username", class='label')
        div(class='cosmetic')
            input(type='email', name='email',class='input',placeholder="Email")
            label(for="email", class='label')
        div(class='cosmetic')
            input(type='text', name='age',class='input',placeholder="Age:")
            label(for="age", class='label')
        label(for="Q1") What is favorite Color?&nbsp;
        select(name="Q1") Options
            option(value="red") red
            option(value="blue") blue
            option(value="green") green
            option(value="yellow") yellow
        label(for="Q2") favorite food?  &nbsp;
        select(name="Q2")
            option(value="pizza") pizza
            option(value="cheeseBurger") Cheese Burger
            option(value="iceCream") Ice Cream
            option(value="steak") Steak
        label(for="Q3") Favorite type of music? &nbsp;
        select(name="Q3")
            option(value='classical') classical
            option(value='rock') Rock
            option(value='rap') Rap
            option(value='edm') EDM
        
        p Edit your avater by inserting a numeric value into the inputs below
        div(class='cosmetic')
            input(type='text',class='input',placeholder="Eye", id='eyeBtn')
        div(class='cosmetic')
            input(type='text',class='input',placeholder="Mouth", id='mouthBtn')
        div(class='cosmetic')
            input(type='text',class='input',placeholder="Nose", id='noseBtn')
            

        br
        input(type='submit' value='submit' class='submitButton')     