extends layout

block content
    div(class='login')
        
        a(id='login' href='/login/') login
    br
    br
    div(class='signup')
        a(id='signup' href='/signUp' class='signText') signup
    div
          img(id=profilePic src="https://api.adorable.io/avatars/face/1/1/1/8e8895")