extends layout

block content
    form(method='post' action='/account')
        label(for="username") UserName &nbsp;
            input(type='text', name = 'username')
        br
        label(for="password") password:&nbsp;
            input(type='password', name='password')
        br
        input(type='submit' value='submit')