extends layout

block content
    p UserName &nbsp;
        input(type='text', username = 'username')
    p password:&nbsp;
        input(type='text', password='password')
    p email:&nbsp;
        input(type='text', email='email')
    p age:&nbsp;
        input(type='text', age='age')
    