html {
  background-color: rgb(105, 105, 105);
}

body {
  color: #fff;
  background: #3E505B;
  margin: 0 auto;
  padding: 8px;
  box-sizing: border-box;
  width: 85%;
  height: 100%;
  max-height: fit-content;
  
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}



/* this is all the css for the submit and edit form */

form {
  --text-color: #ffffff;
  max-width: 500px;
  margin: 0 auto;
}
.cosmetic {
  width: 100%;
  position: relative;
  border-bottom: 2px dotted #fff;
  margin: 4rem auto 1rem;
}

.label {
  color: var(--text-color);
  font-size: 1.2rem;
}

.input {
  outline: none;
  border: none;
  overflow: hidden;
  margin: 0;
  width: 100%;
  padding: 0.25rem 0;
  background: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

.input:valid {
  color: #00cc00;
}

.input:invalid {
  color: #ff0000;
}



.cosmetic::after {
  content: "";
  position: relative;
  display: block;
  height: 4px;
  width: 100%;
  background: #d16df1;
  transform: scaleX(0);
  transform-origin: 0%;
  transition: transform 500ms ease;
  top: 2px;
}

.cosmetic:focus-within {
  border-color: transparent;
}

.cosmetic:focus-within::after {
  transform: scaleX(1);
}


.login {
  position: relative;
  text-align: center;
  background-color: #00cc00;
  border: 1px solid #fff;
  width: 300px;
  height: 75px;
  margin: 0 auto;
  color: #fff;
  user-select: none;
  list-style: none;
  font-weight: 300;
  font-size: xx-large;
}


.signup {
  position: relative;
  text-align: center;
  background-color: #00cc00;
  border: 1px solid #fff;
  width: 300px;
  height: 75px;
  margin: 0 auto;
  color: #fff;
  user-select: none;
  list-style: none;
  font-weight: 300;
  font-size: xx-large;
  
}

.signText {
  position: relative;
  margin: 50% auto;
  padding: 5px auto;
  
}

canvas {
  background: #fff;
}





